:root {
  --bg: #f6f7fb;
  --text: #111;
  --card: #fff;
}

body.dark {
  --bg: #0b1020;
  --text: #e5e7eb;
  --card: #111827;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

section {
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}
